*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  height: 100vh;
  min-height: 702px;
  overflow: scroll;
}
header{
  width: 100%;
  height: 100px;
  background-color: #8181f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
timer{
  color: black;
}
#text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 100px);
  min-height: 688px;
  background-color: #e3dddd;
}
#container{
  overflow: hidden;
  background-color: whitesmoke;
  padding:0 10px;
  border-top: whitesmoke solid 10px;
  border-bottom: whitesmoke solid 10px;
  border-radius: 10px;
}
#container-1 {
  font-size: x-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(48, 48, 48);
  line-height: 1.1em;
  white-space: pre-line;
  width: 702px;
  height: fit-content;
}
.word{
  display: inline-block;
  margin-top: 7px;
}
.typed,
.untyped {
  display: inline-block;
  width: 0.8em;
  height: 1.2em;
  margin-right: 0.09em;
  text-align: center;
  vertical-align: bottom;
  border-bottom: 2px solid transparent;
}

.typed {
  background-color: rgb(181, 251, 181);
  border-radius: 5px;
}

.typed.error {
  background-color: rgb(251, 181, 181);
}

.turn {
  border-bottom: 2px solid rgb(48, 48, 48);
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.turn.error {
  border-bottom: 2px solid rgb(219, 54, 54);
  animation-name: blink-error;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
#resultContainer{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  color: rgb(46, 46, 46);
  background-color: #fff;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  transition: opacity 0.5s;
}
#resultContainer .item{
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item .p{
  display: block;
}

@keyframes blink {
  0% {
    border-bottom: 2px solid rgb(48, 48, 48);
  }

  50% {
    border-bottom: 2px solid transparent;
  }

  100% {
    border-bottom: 2px solid rgb(48, 48, 48);
  }
}

@keyframes blink-error {
  0% {
    border-bottom: 2px solid rgb(219, 54, 54);
  }

  50% {
    border-bottom: 2px solid transparent;
  }

  100% {
    border-bottom: 2px solid rgb(219, 54, 54);
  }
}